h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(18, 37, 106);
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 20px 10px;
    text-align: center;
}
.section{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background: rgb(244, 246, 248);
    border-radius: 30px;
    padding: 10px 5px;
}