h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(20, 109, 168);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 20px 10px;
}
.section{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    height: 40vh;
    background: rgb(244, 246, 248);
    border-radius: 30px;
}