/* ------links---------- */
.section-link{
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background: rgb(138, 138, 236);
    border-radius: 30px;
    height: none;
}
.panel{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #adbcc9;
}

.panel :last-child{
    border-bottom: none;
}

.form-button{
    border-radius: 10px;
    background-color: rgb(18, 37, 106);
    color: #e0eefa;
    padding: 15px 35px;
    margin: 10px 0;
    display: inline-block;
    transition: background-color 200ms ease-in-out;
}

.form-button:hover, .form-button:focus{
    background-color: #e0eefa;
}

@media (max-width: 600px){
    .panel{
        flex-direction: column;
    }
}