h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(18, 37, 106);
    font-weight: bold;

    letter-spacing: 1px;
    font-size: 3rem;
    padding: 20px 10px;
}
.section{
    width: 90vh;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    height: 70vh; 
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: rgb(138, 138, 236);;
   /* background: rgb(138, 138, 236);
    border-radius: 30px;*/
}

.information{
    width: auto;
   padding-left: 10px;
   padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background: rgb(138, 138, 236);
    border-radius: 10px;
    
}
.poc{
    width: auto;
    padding-left: 10px;
    padding-bottom: 10px;
     margin-right: 20px;
     margin-left: 20px;
     margin-bottom: 20px;
     background: rgb(138, 138, 236);
     border-radius: 10px;
}