 
.navigation{
    background: rgb(18, 37, 106);
   color: white;
   font-family: 'Josefin Sans', sans-serif; 
   height: auto;
   padding: 10px 10px;
}
.logo{
    border-radius: 30px;
    padding-right: 10px;
}

/* footersection styling */

.bg-color-footer{
    background-color: rgb(18, 37, 106);
}
.border-footer{
    border-left: 1px solid whitesmoke;
}
@media (max-width:768px) {
    .border-footer{
        border:none;

    }

    .padding{
        padding-left: 10px;
    }
}


