h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(18, 37, 106);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 20px 10px;
}
.section{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    height: 40vh;
    background: rgb(138, 138, 236);
    border-radius: 30px;
}
a {
    color: white;
}
a:active {
    color: darkblue;
}
a:visited {
    color:beige;
}
center{
    padding: 20px;
    font-size: 150%;
}