[flake8]
max-line-length = 88
# Remove F811 from admin.py
ignore = E501, E722, W503, F811
per-file-ignores =
    home/models/students.py: E402
    home/models/admin.py: F811
    home/models/__init__.py: F401
    home/app.py: F401
