version: '3'

services:
  web:
    build: .
    ports:
      - 8000:8000
    volumes:
      - ./db/db.sqlite3:/app/db.sqlite3
      - /etc/letsencrypt/live/diningfee.iiti.ac.in/fullchain.pem:/etc/letsencrypt/live/diningfee.iiti.ac.in/fullchain.pem
      - /etc/letsencrypt/live/diningfee.iiti.ac.in/privkey.pem:/etc/letsencrypt/live/diningfee.iiti.ac.in/privkey.pem
    env_file:
      - ./.env

  nginx:
    build: ./nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./db/db.sqlite3:/app/db.sqlite3
      - /etc/letsencrypt/live/diningfee.iiti.ac.in/fullchain.pem:/etc/letsencrypt/live/diningfee.iiti.ac.in/fullchain.pem
      - /etc/letsencrypt/live/diningfee.iiti.ac.in/privkey.pem:/etc/letsencrypt/live/diningfee.iiti.ac.in/privkey.pem
    depends_on:
      - web
