a {
    color: #083AA9;
    text-decoration: none;
}
a:hover {
    color: black;
}
.col-sm {
    margin-bottom: 50px;
    margin-top: 10px;
}
.contact {
    margin-top: 25px;
}
.contact-heading {
    font-size: 1.5rem;
    text-align: left;
    color: #083AA9;
}
h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(18, 37, 106);
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 20px 10px;
    margin-bottom: 30px;
}
i {
    padding-right: 5px;
}
.line {
    font-size: 1.2rem;
    margin: auto auto 20px 4.4vw;
    text-align: left;
}
#mail{
    margin-top: 10px;
}
.name {
    font-size: 1.1rem;
}
p {
    margin-bottom: 0px;
}
.section{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    height: auto;
    border-radius: 30px;
}
