h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(18, 37, 106);
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 20px 10px;
}

.section{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background: rgb(138, 138, 236);
    border-radius: 30px;
}

.info{
  padding:40px;
  font-size: 20px;
}

.pics{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.photographs{
  margin: 40px;
}

.cards{
  margin: 50px;
  padding: 20px;
}
.cardText{
  text-align: center;
}
.card{
  margin:20px;
}


/*....Ishan.....*/

.sticky{
  z-index: 20;
}
.aboutupdates{

  padding-top: 40px;
  font-size: 20px;

}
.updates{
  line-height: 1.5;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background: rgb(244, 246, 248);
  border-radius: 30px;
  padding: 10px 10px 0px 10px;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 600;
}

.navigation{
  z-index: 2;
}
