h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(18, 37, 106);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 3rem;
    padding: 20px 10px;
}
.section{
    max-width: 1258px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    height: 70vh; 
}

.information{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background: rgb(244, 246, 248);
    border-radius: 30px;
    padding: 20px 20px 10px 20px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 600;
}