.navigation {
    background: rgb(18, 37, 106);
    color: white;
    font-family: 'Arial', sans-serif;
    height: auto;
    width: 100vw;
    position: sticky;
    top: 0;
}
.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-around;
}
.header{
    color: rgb(18, 37, 106);
    font-family: Arial, sans-serif;
    font-size: 1rem;
  }
.header:hover{
    color: rgb(18, 37, 106);
  }
body {
    overflow-x: hidden;
}


/* style="color: rgb(239, 233, 233); font-size: 1.8rem; font-weight: bold; letter-spacing: 0.5px;" */

.iiti {
    display: inline;
}

.dropdown-menu a {
    color: rgb(18, 37, 106);
}

@media (max-width:995px) {
    .navbar-brand {
        font-size: 3.6vw;
    }
}

@media (max-width:822px) {
    .navbar-brand {
        font-size: 3.6vw;
        margin-left: 0;
    }

    .navigation {
        padding: 0px;
    }
}

@media (max-width:700px) {
    .iiti {
        display: block;
    }

    .navbar-brand {
        font-size: 4.6vw;
    }
}



@media (max-width:450px) {
    .navbar-toggler-icon {
        height: 20px;
        width: 20px;
    }
}

@media (max-width:375px) {
    .navbar-brand {
        letter-spacing: 0;
    }
}

/* footersection styling */
.bg-color-footer {
    background-color: rgb(18, 37, 106);
}

.border-footer {
    border-left: 1px solid whitesmoke;
}

@media (max-width:768px) {
    .border-footer {
        border: none;
    }
    .padding {
        padding-left: 10px;
    }
    .logo img {
        width: 60px;
        height: 40px;
    }
    .logo span{
        font-size: 0.5rem;
    }
}