.parent{
    text-align: center;
    font-family: 'Arial', sans-serif;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .box{
    padding: 20px;
    z-index: -1;
  }
  .line{
    margin: 50px;
  }
