main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

.id-card {
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.id-card .card-header {
  background-color: #2579a6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100px;
  position: relative;
  clip-path: ellipse(70% 100% at 50% 0%);
}

.id-card .photo {
  margin-top: 10px;
}

.id-card .name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.id-card .divider {
  width: 50px;
  height: 3px;
  background-color: #2579a6;
  margin: 10px auto;
}

.id-card .id-number {
  font-size: 14px;
  margin-top: 10px;
}

.id-card .qr-code {
  margin-top: 20px;
}

.id-card .footer {
  background-color: #2579a6;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  clip-path: ellipse(70% 100% at 50% 100%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card-subtitle {
  font-size: 28px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .id-card {
    width: 90%;
  }
}
