{% extends 'base.html' %}
{% load static %}

{% block externalCss %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
<link rel="stylesheet" href="{% static 'css/rules.css' %}" />
{% endblock %}

{% block body %}
<main>
  <h1>Caterers Information</h1>
  {% for caterer in caterers %}
    <section>
      <h2>{{ caterer.name }} Caterers</h2>
      <div class="information mx-md-5 mx-3">
        <p>{{ caterer.upper_description }}</p>
      </div>
    </section>
  {% endfor %}
</main>
{% endblock %}
