{% extends 'base.html' %}
{% load static %}
{%block externalCss%}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<link rel="stylesheet" href="{% static 'css/rules.css' %}" />


{% endblock %}
{% block body %}
<main>
<h1 class="text-center">Contacts</h1>
<!-- <p class="line">
  The following people can be contacted in case of any requirements:
</p> -->
<div class="section">
  {% for i in contact %}
  {% if i.hostel_sec is False %}
  <div class="contact">
    <span class="contact-heading"><b>{{i.occupation}}</b></span>
    <div class="desc">
      {% if i.name%}
      {{i.name}}
      {%endif%}
      <p>
      {% if i.contact%}
      <i class="fa-solid fa-phone"></i>{{i.contact}}<br>
      {% endif %}
      <i class="fa-regular fa-envelope"></i>{{i.email}}
      </p>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  <br />
  <div class="contact">
  <span class="contact-heading"><b>Dining Secretary Hall of Residences:</b></span>
  <div class="row">
  {% for i in contact %}
  {% if i.hostel_sec is True %}
  <div class="col-sm-3 mt-4">
    <h6>{{i.occupation}}</h6>
    <div>{{i.name}}</div>
    <span>{{i.contact}}<br>{{i.email}}</span>
  </div>
  {% endif %}
  {% endfor %}
  </div>
  </div>
  <div class="contact">
  <span class="contact-heading"><b>Central Dining Committee:</b></span>
  <ul class="px-3 py-2">

<li>Dining Warden - Dr. Kalandi Charan Pradhan</li>

<li>Associate Dining Warden - Dr. Nisheeth Kumar Prasad</li>


<li>Committee Member - Dr. Abhijeet Joshi</li>

<li>Committee Member - Dr. Sunil Kumar</li>
  </ul>
  <div class="contact pb-3">
    <b>Want to know more about Mess Website's working?  </b><br>
  <span class="contact-heading">
    <b>Developers:</b></span>
    <div class="row ms-lg-2">
      <div class="col-sm-3 mt-2">
      <h6>
          <a href="https://www.linkedin.com/in/ishaan-mittal-/" class="text-decoration-none text-black" target="_blank">
              Ishaan Mittal
          </a>
      </h6>
      <div>
        <i class="fa-solid fa-phone"></i>9971260556<br>
        <i class="fa-regular fa-envelope"></i>ishaanmittal123@gmail.com
      </div>
      </div>
      <div class="col-sm-3 mt-2">
      <h6>
          <a href="https://www.linkedin.com/in/trishant-talluri-6800a5253/" class="text-decoration-none text-black" target="_blank">
              Trishant Talluri
          </a>
      </h6>
      <div>
        <i class="fa-solid fa-phone"></i>7382771213<br>
        <i class="fa-regular fa-envelope"></i>trishanttalluri@gmail.com
      </div>
      </div>
      <div class="col-sm-3 mt-2">
        <h6>
            <a href="https://www.linkedin.com/in/k07prince" class="text-decoration-none text-black" target="_blank">
                Prince Kumar
            </a>
        </h6>
        <div>
          <i class="fa-solid fa-phone"></i>9973938636<br>
          <i class="fa-regular fa-envelope"></i>k07prince@gmail.com
        </div>
        </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
