{% extends 'base.html' %}
{% load static %}

{% block externalCss %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
<link rel="stylesheet" href="{% static 'css/rules.css' %}" />
<style>
    .buttons-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    .filter-btn {
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }
    .filter-btn.active {
        background-color: rgb(18, 37, 106);
        color: white;
    }
    .filter-btn.inactive {
        background-color: #e0e0e0;
        color: black;
    }
    .menu-container {
    max-width: 80%;
    height: 80vh;
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    section {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        background: #ffffff;
        border: solid rgb(227, 227, 227);
    }
    .information {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #555;
        background: #ffffff;
        padding: 15px;
        border-radius: 8px;
    }

</style>
{% endblock %}

{% block body %}
<main>
  <h1 class="text-center">Caterers Information</h1>

  {% for caterer in caterers %}
  <section class="container">
      <h2>{{ caterer.name }} Caterers</h2>
      <div class="information mx-md-5 mx-3">
          <p>{{ caterer.upper_description }}</p>
      </div>
  </section>
  {% endfor %}

  <h1 class="text-center">Menu</h1>
    <div class="buttons-container">
        {% for menu in menus %}
            <button class="filter-btn {% if forloop.first %}active{% else %}inactive{% endif %}" 
                    onclick="showMenu('{{ menu.menu_type }}')" 
                    id="btn-{{ menu.menu_type }}">
                {{ menu.menu_type }}
            </button>
        {% endfor %}
    </div>
    {% for menu in menus %}
    <div class="menu-container" id="menu-{{ menu.menu_type }}" {% if not forloop.first %}style="display:none;"{% endif %}>
        <iframe src="{{ menu.sheet_url}}"></iframe>
    </div>
    {% endfor %}
    <br>
</main>

<script>
    function showMenu(menuType) {
        document.querySelectorAll('.menu-container').forEach(menu => {
            menu.style.display = 'none';
        });
        document.getElementById('menu-' + menuType).style.display = 'block';
        document.querySelectorAll('.filter-btn').forEach(btn => {
            btn.classList.remove('active');
            btn.classList.add('inactive');
        });
        document.getElementById('btn-' + menuType).classList.add('active');
        document.getElementById('btn-' + menuType).classList.remove('inactive');
    }
</script>
{% endblock %}
