h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(18, 37, 106);
    font-weight: bold;

    letter-spacing: 1px;
    font-size: 3rem;
    padding: 20px 10px;
}
.section{
    width: 90vh;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    height: 70vh;
   /* background: rgb(138, 138, 236);
    border-radius: 30px;*/
}
.information{
    width: auto;

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.poc{
    width: auto;

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}