{% extends 'base.html' %}
{% load static %}
{%block externalCss%}

<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
<link rel="stylesheet" href="{% static 'css/rules.css' %}" />


{% endblock %}
{% block body %}
<Main >
  <h1>{{caterer.name}} Caterers</h1>
  <div class="information mx-md-5 mx-3"><p>{{caterer.upper_description}}</p></div>
  <div class="section"><iframe  width=100% height=100%
    src="{{caterer.sheet_url}}"></iframe></div>
  {% if caterer.lower_description%}
    <div class="information"><p>{{caterer.lower_description}}</p></div>
  {% endif %}
</Main>

{% endblock %}