{% extends 'base.html' %} 
{% load static %} 
{%block externalCss%} 
{% load i18n%}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} 
{% block body %}
<main>
    {% if user.is_authenticated%}
    <h1 class="m-0 pb-2">Long Term Rebate Form</h1>
    <div class="text-center">
    <p class="m-0">Hello {{user.first_name}}!</p>
    <span>{% trans 'You are logged in as:' %} {{ user.email}}</span>
    <a class="btn btn-danger" href="{% url 'account_logout' %}">Sign Out</a>
  </div>
  <div class="text-center">{{text}}</div>
  <form action="." method="post" class="px-5 mx-md-5" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group p-2">
      <label for="month">Month</label>
        <input
          type="text"
          id="month"
          name="month"
          class="form-control-sm"
          placeholder="Rebate Month"/>
      <label for="allocation_id" class="ms-3">Allocation ID</label>
      <input
        type="text"
        id="allocation_id"
        name="allocation_id"
        class="form-control-sm"
        placeholder="{{key}}"/>
    <label for="days" class="ms-3">No. of days</label>
      <input
        type="number"
        id="days"
        name="days"
        class="form-control-sm"
        placeholder="No. of Days of Rebate"/>
    </div>
    <div class="form-group p-2">
    <input type="file" class="custom-file-input" id="file" name="pdf" required accept=".pdf" size="60">
    <!-- <label class="custom-file-label" for="file">Choose file</label> -->
    </div>
    <button
      type="submit"
      class="btn btn-primary p-2 my-3"
      style="background-color: rgb(30, 55, 146)"
    >
      Submit
    </button>
    {% else %}
    <h1 class="text-decoration-none my-5">Access to this page is only for Administration. Please login to continue.</h1>
{% endif %}
  </form>
</main>

{% endblock %}
