{% extends 'base.html' %}
{% load static %}
{%block externalCss%}

<link rel="stylesheet" href="{% static 'css/rules.css' %}" />


{% endblock %}


{%block body%}
<div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark text-white">
    <div class="container-fluid">
      <div class="logo" style="border-radius: 30px;"><img src="{% static 'images/IITI3.png' %}" alt="" height="50px" width="50px">
      </div>
      <a class="navbar-brand" href="#">Students Dining Committee<div class="iiti">- IIT Indore</div></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="font-size: 0.9rem ; font-weight: 600; margin-right: 10px;">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/rules">Rules</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Caterer's-Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ajay" style="color:rgb(18, 37, 106) ; font-weight: bold; ">{{caterer.0.name}}</a></li>
              <li><a class="dropdown-item" href="/kanaka" style="color:rgb(18, 37, 106) ; font-weight: bold; ">{{caterer.1.name}}</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/links">Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cafeteria">Cafeterias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<Main>
  <h1>Rules And Policies</h1>
  <div class="section">
    <ol>
      {% for i in rule %}
      <li>
        {{i.rule}}
      </li>
      {% endfor %}
    </ol>
    <p>(a)Noncompliance of above rules may lead to disciplinary action decided by Wardens/Hall of
      Residence staff. <br>
      (b) The decision regarding fines and penalties imposed is non-negotiable; hence no discussion/
      argument will be entertained.
    </p>
    <p>
    <h4>POLICY FOR AVAILING REBATE IN DINING FACILITY</h4>
    <h6>1. Short Duration Rebate (Between 2-7 days)</h6>
    {{shortRebate.0.desc}}
    <br>
    <b> Link for Google Form:</b> <a href="{{shortRebate.0.link}}">{{shortRebate.0.link}}</a>
    <br> <br>
    <h6>Policy of Rebate for Students: </h6>
    <p>
      {{shortRebate.0.policy}}
    </p>
    <b> Circulation: </b>{{shortRebate.0.circulation}} <br> <br>
    <b> Information to the Caterer: </b> {{shortRebate.0.infoToCaterer}} <br> <br>
    {{shortRebate.0.note}} <br> <br>
    <b>Members: </b> {{shortRebate.0.Memebers}} <br> <br>
    <h6>Billing</h6>
    {{shortRebate.0.biling}} <br> <br>
    <h6>2. Long Duration Rebate (Greater than 7 days)</h6>
    <ol>
      {% for i in longRebate %}
      <li>
        {{i.rule}}
      </li>
      {% endfor %}
    </ol>
    <b>Link for Long rebate form :</b><a href="{{form.0.url}}"> Link</a>
    </p>
  </div>

</Main>

{% endblock %}