{% extends 'base.html' %}
{% load static %}
{%block externalCss%}

<link rel="stylesheet" href="{% static 'css/rules.css' %}" />


{% endblock %}


{%block body%}
<Main>
  <h1>Rules And Policies</h1>
  <div class="section">
    <h6>General Rules and Policies: </h6>
    <ol>
      {% for i in rule %}
      <li>
        {{i.rule}}
      </li>
      {% endfor %}
    </ol>
    <p>(a)Noncompliance of above rules may lead to disciplinary action decided by Wardens/Hall of
      Residence staff. <br>
      (b) The decision regarding fines and penalties imposed is non-negotiable; hence no discussion/
      argument will be entertained.
    </p>
    <h4>POLICY FOR AVAILING REBATE IN DINING FACILITY</h4>
    <h6>1. Short Duration Rebate (Between 2-7 days)</h6>
    <p>{{shortRebate.0.desc}}</p>
    <b> Link for Google Form:</b> <a href="{{shortRebate.0.link}}">{{shortRebate.0.link}}</a>
    <br> <br>
    <h6>Policy of Rebate for Students: </h6>
    <p>
      {{shortRebate.0.policy}}
    </p>
    <b> Circulation: </b>{{shortRebate.0.circulation}}<br><br>
    <b> Information to the Caterer: </b>{{shortRebate.0.infoToCaterer}} <br> <br>
    {{shortRebate.0.note}} <br> <br>
    <b>Members: </b> {{shortRebate.0.Memebers}} <br> <br>
    <h6>Billing</h6>
    {{shortRebate.0.biling}} <br> <br>
    <h6>2. Long Duration Rebate (Greater than 7 days)</h6>
    <ol>
      {% for i in longRebate %}
      <li>
        {{i.rule}}
      </li>
      {% endfor %}
    </ol>
    <b>Link for Long Term rebate form :</b><a href="{{form.0.url}}"> Link</a>
    <br>
  </div>

</Main>

{% endblock %}